
#lateral {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vh;
    // max-height: $finalWidth;
    margin: 0;
    // padding-top: $scrollBarHeight;
    background: #abc;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-100vh);
    height: 100vw;
    transform-origin: right top;
    background: blue;
    // z-index: -1;
    mix-blend-mode: hue;
    & > div {
    //   display: block;
    //   padding: 5px;
    //   background: #cab;
      transform: rotate(90deg);
    //   transform-origin: right top;
    }
}
.randomShapesBackground {
    width: 100vh;
    background: white;
    height: 80vw;
    padding: 100px;
    .group--offset-fill {
        position: relative;
      }
      
      .shape--triangle {
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-top: 0rem solid transparent;
        border-bottom: 2rem solid #333;
        
        &.shape--offset-fill {
          position: absolute;
          top: .5rem;
          left: .75rem;
          border-bottom-color: rgba(255, 0, 0, .3);
          z-index: -1;
        } 
      }
      
      .shape--filled {
        background-color: #333;
      }
      
      .shape--circle {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
      }
      
      .shape--line {
        width: 3rem;
        height: .25rem;
      }
      
      $zigWidth: 1.5rem;
      
      .zig {
          @extend .shape--filled;
          @extend .shape--line;
          width: $zigWidth;
          display: inline-block;
          margin-right: -1 * ($zigWidth/1.8);
      }
      
      .shape--zig {
        @extend .zig;
        transform: rotate(45deg);
      }
      
      .shape--zag {
        @extend .zig;
        transform: rotate(-45deg);
      }
   
}