:root{
    // --purple: #672394;
    --purple: #d27dff;
    --pink: #f725a0;
    --light-pink: #ffb3cd;
    --yellow: #f8f85a;
    --blue:    #0cb2c0;
    --blue-green: #36acac;
    --grey: #e8e6d9;
    --black: #000;
    --max-width: 1280px;
    --nav-height: 60px;
    --section-separator-height: 100px;
    --cube-height:100px ;
    --cube-width:300px ;
}